<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.birt.report.engine.emitters">
        <emitter
                class="io.github.kewne.spring_birt.HtmlWithEmbeddedSvgReportEmitter"
                format="html"
                id="io.github.kewne.spring_birt.htmlPlusEmbeddedSvg"
                mimeType="text/html"
                overridePriority="10"
                supportedImageFormats="SVG"
                pagination="no-pagination">
        </emitter>
    </extension>

</plugin>
